body{
    background-color:#34495e;
}

.container{
    width: 350px;
    height: 700px;
    margin:0 auto;
    text-align: center;
    background: white;
    overflow-y: auto;
    color:black;
    border: 10px solid #01a3a4;
    border-radius: 10px;
}


.container h1{
    margin: 50px;
    text-transform: uppercase; 
}

.controls input{
    border: 2px solid #b5c5dd;
    width: 80%;
    height: 30px;
    font-size: 20px;
    padding-left: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 10px;
    outline: 0;
}

.controls #add{
    
    background-color: #2980b9;
    border-radius: 10px;
    outline: 0;
}

.controls #remove{
   margin-top: 10px;
    background-color: #c0392b;
    border-radius: 10px;
    outline: 0;
}

.controls button{
    width: 50%;
    background: white;
    border: none;
    height: 30px;
    margin-top: 2px;
    cursor: pointer;
    color: white;
    
}
.controls button:hover{
    transform: scale(1);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,1);
}

.container #list {
    margin-top: 50px;
    padding-left: 0;
}

#list li{
    list-style:none;
    border: 5px solid #b5c5dd;
    width: 60%;
    height: 30px;
    margin: 5px auto;
    text-align: left;
    border-radius: 10px;
    opacity: 1;
    
}

.label{
    padding-left: 10px;
    margin: 0 auto;
    vertical-align: middle;
    height: 100%;
    line-height: 30px;
    font-size: 18px;
}


.check{
    float: left;
    margin: 10px;
    width: 20px;
    height: 20px;
    margin: 5px;
    -webkit-appearance: none;
    border: 2px solid ;
    position: relative;
    outline: 0;
}
 .check:checked:after{
     content: '\2714';
     font-size: 15px;
     position: absolute;
     top: 0px;
     left: 2px;
     color:teal;
 }

.container ul li input[type="checkbox"]:checked+label{
    text-decoration: line-through;
    color:rgba(0,0,0,.3)
}
.container.controls #input:focus{
    outline: 0;
}
.container.controls button:focus{
    outline: 0;
}

.visual{
    opacity: 1 !important;
    border-radius: 10px;
}


